<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServerPortBinding" />
                <binding name="ServerPortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.205.126:8080/INFOSiSServer/Server"
                binding="basicHttpBinding" bindingConfiguration="ServerPortBinding"
                contract="DAServer.Server" name="ServerPort" />
            <endpoint address="http://localhost:33417/INFOSiSServer/Server"
                binding="basicHttpBinding" bindingConfiguration="ServerPortBinding1"
                contract="Server.Server" name="ServerPort1" />
        </client>
    </system.serviceModel>
</configuration>